{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
    <title>About Us</title>
    {% include 'includes/head.html' %}
</head>

<body class="page-template belle">

<div id="pre-loader">
    <img src="{% static 'assets/images/loader.gif' %}" alt="Loading..."/>
</div>

<div class="pageWrapper">

    {% include 'includes/header.html' %}

    <div id="page-content">

        <div class="page section-header text-center">
            <div class="page-title">
                <div class="wrapper"><h1 class="page-width">About Us</h1></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                    <div class="text-center mb-4">
                        <h2 class="h2">Belle Multipurpose</h2>
                        <div class="rte-setting mt-4">
                            <p><strong>This templates is "chopilgan"</strong></p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0 auto">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload"
                                                                         data-src="{% static 'assets/images/my_photo.jpg' %}"
                                                                         src="{% static 'assets/images/my_photo.jpg' %}"
                                                                         alt="About Us"/>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 text-center">
                    <h2>This templates is "chopilgan"</h2>
                    <p>Expound, example, dislikes laborious dislikes the example how, resultant pursue explain.
                        Consequences has painful physical enjoy man from enjoy exercise undertakes advantage do nor can
                        not actual annoying complete any truth fault, him obtain enjoy.</p>
                    <p></p>
                </div>
            </div>
            <hr>
            <div class="row" style="padding: 25px 0;border: 1px solid grey">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <h2 class="h2">This templates is "chopilgan"</h2>
                    <div class="rte-setting"><p><strong>Laborious itself with pain no nor are born not praising - this
                        procure who you give occur. You denouncing - the avoids who pursue can rationally extremely:
                        painful annoying expound explain procure, encounter, can resultant chooses was those teachings
                        one.</strong></p>
                        <p>Do, this fault know how to give chooses desires, rationally chooses must was. Annoying
                            complete master not has, this us: rationally: denouncing, consequences is can avoids, right
                            idea. Him not happiness us undertakes human how: there toil laborious human, obtain
                            consequences who except pursues advantage has find one.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <h2 class="h2">This templates is "chopilgan"</h2>
                    <div class="rte-setting"><p><strong>Laborious itself with pain no nor are born not praising - this
                        procure who you give occur. You denouncing - the avoids who pursue can rationally extremely:
                        painful annoying expound explain procure, encounter, can resultant chooses was those teachings
                        one.</strong></p>
                        <p>Do, this fault know how to give chooses desires, rationally chooses must was. Annoying
                            complete master not has, this us: rationally: denouncing, consequences is can avoids, right
                            idea. Him not happiness us undertakes human how: there toil laborious human, obtain
                            consequences who except pursues advantage has find one.</p>
                    </div>

                </div>
            </div>


        </div>

    </div>

    {% include 'includes/footer.html' %}

    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>

    <script src="{% static 'assets/js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.cookie.js' %}"></script>
    <script src="{% static 'assets/js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/lazysizes.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

</div>

</body>

</html>