{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
    <title>F.A.Q</title>
    {% include 'includes/head.html' %}
</head>

<body class="page-template belle">

<div id="pre-loader">
    <img src="{% static 'assets/images/loader.gif' %}" alt="Loading..."/>
</div>

<div class="pageWrapper">

    {% include 'includes/header.html' %}

    <div id="page-content">
        <div class="page section-header text-center">
            <div class="page-title">
                <div class="wrapper"><h1 class="page-width">F.A.Q.</h1></div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">

                    <div id="accordionExample">
                        <h2 class="title h2">You can read the frequently asked questions here</h2>
                        {% for rs in faq %}
                            <h4 class="panel-title" data-toggle="collapse"
                                data-target="#collapseOne{{ rs.order_number }}" aria-expanded="false"
                                aria-controls="collapseOne{{ rs.order_number }}">{{ rs.question }}</h4>
                            <div id="collapseOne{{ rs.order_number }}" class="collapse panel-content"
                                 data-parent="#accordionExample{{ rs.order_number }}">{{ rs.answer }}</div>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>

    </div>

    {% include 'includes/footer.html' %}

    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>


    <script src="{% static 'assets/js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.cookie.js' %}"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/lazysizes.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

</div>

</body>

</html>