{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Melody Admin</title>
    <link rel="stylesheet" href="{% static 'melody_static/vendors/iconfonts/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'melody_static/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'melody_static/vendors/css/vendor.bundle.addons.css' %}">
    <link rel="stylesheet" href="{% static 'melody_static/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'melody_static/images/favicon.png' %}"/>
</head>

<body>

<div class="container-scroller">

    {% include 'Menu/dashbourd_top_menu.html' %}

    <div class="container-fluid page-body-wrapper">

        {% include 'Menu/dashbourd_theme.html' %}

        {% include 'Menu/dashbourd_left_menu.html' %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">

                    <nav aria-label="breadcrumb">

                    </nav>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card px-2">

                            <div class="card-body">
                                <div class="container-fluid">
                                    <h3 class="text-right my-5">Code : &nbsp;&nbsp;{{ orderproduct.order.code }}</h3>
                                    <img src="{{ orderproduct.product.image.url }}" width="160px" height="160px">
                                    <hr>
                                </div>
                                <div class="container-fluid d-flex justify-content-between">
                                    <div class="col-lg-3 pl-0">
                                        <p class="mt-5 mb-2">
                                            <b>Order Address</b>
                                        </p>
                                        <p>First Name: {{ orderproduct.order.first_name }}</p>
                                        <p>Last Name: {{ orderproduct.order.last_name }}</p>
                                        <p>Phone: {{ orderproduct.order.phone }}</p>
                                        <p>Email: {{ orderproduct.order.email }}</p>
                                        <p>Country: {{ orderproduct.order.country }}</p>
                                        <p>City: {{ orderproduct.order.city }}</p>
                                        <p>Address: {{ orderproduct.order.address }}</p>
                                        <p>Email: {{ orderproduct.order.feedback }}</p>
                                    </div>
                                    <div class="col-lg-3 pr-0">
                                        <p class="mt-5 mb-2 text-right"><b>Invoice to</b></p>
                                        <p class="text-right">Gaala & Sons,<br> C-201, Beykoz-34800,<br> Canada, K1A
                                            0G9.</p>
                                    </div>
                                </div>
                                <div class="container-fluid d-flex justify-content-between">
                                    <div class="col-lg-3 pl-0">
                                        <p class="mb-0 mt-5">Create at Date : {{ orderproduct.create_at }}</p>
                                        <p style="color: red;">STATUS : {{ orderproduct.status }}</p>
                                    </div>
                                </div>
                                <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                                    <div class="table-responsive w-100">
                                        <table class="table table-hover">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Product</th>
                                                <th scope="col">Native Price</th>
                                                <th scope="col">QTY</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">Size</th>
                                                <th scope="col">Collar</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    {{ orderproduct.product.title }}
                                                </th>
                                                <td>{{ orderproduct.product.sell_price }} sum</td>
                                                <td>{{ orderproduct.order.total_quantity }}</td>
                                                <td>{{ orderproduct.order.total }} sum</td>
                                                <td>{{ orderproduct.order.size }}</td>
                                                <td style="background-color: {{ orderproduct.order.collar }};width: 20px; height: 20px;"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="container-fluid mt-5 w-100">
                                    <p class="text-right mb-2">Subtotal
                                        amount: {{ orderproduct.order.total_quantity }}</p>
                                    <h4 class="text-right mb-5">Total : {{ orderproduct.order.total }} sum</h4>
                                    <hr>
                                </div>

                                <div class="container-fluid w-100">
                                    <a href="{% url 'order_edit' rs.id %}"
                                       class="btn btn-primary float-right mt-4 ml-2"><i class="fa fa-print mr-1"></i>Print</a>
                                    <a href="#" class="btn btn-success float-right mt-4"><i
                                            class="fa fa-share mr-1"></i>Edit Order</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a
                            href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                            class="far fa-heart text-danger"></i></span>
                </div>
            </footer>
            <!-- partial -->
        </div>

    </div>

</div>


<script src="{% static 'melody_static/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'melody_static/vendors/js/vendor.bundle.addons.js' %}"></script>
<script src="{% static 'melody_static/js/off-canvas.js' %}"></script>
<script src="{% static 'melody_static/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'melody_static/js/misc.js' %}"></script>
<script src="{% static 'melody_static/js/settings.js' %}"></script>
<script src="{% static 'melody_static/js/todolist.js' %}"></script>

</body>

</html>