{% load static %}
{% load i18n %}

<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">{% trans 'Copyright © 2022. All rights reserved' %}</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">{% trans 'Author' %}: <a
                href="https://t.me/Nus_Ya" target="_blank"
                style="text-decoration: underline; color: #392C70">Bo'rixonzoda Nusratullo</a></span>
    </div>
</footer>